body {
  height: 100vh;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
background: rgb(170, 235, 247);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.nav-container {
  background-image:linear-gradient(to top,rgba(170, 100, 250, 0.986),rgb(205, 140, 248));

  a {
    color: white;
  }
}
header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  .logo {
    font-size: 1.5rem;
    color: #fef6b5;
    font-weight: bold;
  }

  nav {
    float: right;

    ul {
      display: flex;
    }

    a {
      display: block;
      padding: 0 1em;
    }
  }
}
.social-header {
  display: none;
}
.hero {
  background-image:linear-gradient(to right,rgba(82, 106, 241, 0.986),rgb(255, 77, 211));
  color: white;
  display: grid;
  text-align: center;
  padding: 4em;
  
}
header{
 
  border: .1rem solid black;
  li{
  transition: background-color .5s;
  }
 li:hover{
   background-color:rgb(35, 109, 245) ;
 }
}
.dabba{
  margin-bottom: 30px;
   font-size: 3.56em;
 }
section {
  padding: 4em 2em;
  text-align: center;
}
.featured {
  position: relative;
}
.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #e5d5fa;
  top: 0;
  left: 0;
  z-index: -1;
}
.right{
  border-radius: 300px;
  box-shadow: 5px 5px 20px rgb(29, 22, 22);
}
.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #6e00ff;
  letter-spacing: 0.2rem;
  font-size: 0.85em;
}
.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}
.featured-desc {
  color: #851515;
  margin-bottom: 3em;
  font-size: 0.99em;
  line-height: 1.8em;
  font-weight: 500;
}
.skills {
  background: #ff64cb;
}
.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;

  .fas {
    display: grid;
    place-content: center;
    margin: 0 auto;

    &.fa-desktop {
      font-size: 80px;
    }
    &.fa-headphones {
      font-size: 80px;
    }

    &.fa-pen {
      font-size: 80px;
    }
  }
  .skill-title {
    font-weight: bold;
  }
  .featured-desc {
    margin-bottom: 2em;
  }
}
.portfolio {
  border-radius: 1rem;
  background-color: rgb(160, 94, 245);
}
.portfolio-container a img {
  border-radius: 2em;
  margin-bottom: 2em;
}
@media only screen and (min-width: 800px) {
  
  .featured,.portfolio {
    text-align: left;
  }
  
  .featured,.portfolio-container {
    display: grid;
    grid-template-columns: 50% auto;
  }
  .left,
  .portfolio-left {
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .social-header {
    padding: 2em 1em 2em 0;
  }
 
  

  .skills {
  
    margin-top: -10em;
    margin-bottom: -7em;
    padding-top: 7em;
    height: 75vh;
  }
  .dabba{
   margin-bottom: 30px;
    font-size: 3.56em;
  }
  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
    grid-template-rows: 60vh;
  }
  .portfolio {
    padding-top: 7em;
  }
  .portfolio-container img {
    margin-left: 1.7em;
  }
}
@media only screen and (min-width: 1050px) {
  
  html{
    font-size:122% ;
  }.hero {
    height: 90vh;
  }
  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;

    header {
      background-image:linear-gradient(to right,rgba(82, 106, 241, 0.986),rgb(77, 175, 255));
    }
  }
  header {
    
    padding: 2em 2em 2em 4em;
  }
 
  section {
    padding: 4em;
  }
  .social-header {
    display: block;

    ul {
      display: flex;
      justify-content: flex-end;
      width:100%;
      
      float: right;
     

      .fas,.fab {
        font-size: 2em;
        color:darkcyan;
      
        padding: 0 .5em;
      }
    }
  }
  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;

    .content {
      background-image:linear-gradient(to right,rgba(82, 106, 241, 0.986),rgb(77, 175, 255));
      padding: 6em 8em 6em 4em;
      text-align: left;
    }
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }



.box {
  position: relative;

.box1::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 550px;
 
  border-radius: 0;
  background-image:linear-gradient(to right,rgba(159, 59, 252, 0.5),rgba(162, 213, 255, 0.753));
  z-index: -1;
  top: 350px;
  left: -350px;
}
 
 
  .box2::before {
    content: "";
    position: absolute;
    width: 415px;
    height: 800px;
    border-radius: 20% 0% 30% 0%;
    box-shadow: 15px 5px 65px black;
    background-image:linear-gradient(to left,rgba(119, 82, 155, 0.336),rgba(208, 221, 231, 0.753));
    top: -117px;
    left: 100px;

    z-index: -2;
  }
}

}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
 




  
  .section {
    padding: 9em 20em 6em 20em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 4em 10em;
  }
  .section {
    padding: 9em 20em 6em 20em;
  }
}
